pom.xml
.idea
*.jar
*.iml
/lib/
/classes/
/out/
/out-debug/
/target/
/resources/
/fonts/icons/icons*
/fonts/icons/_icons*
/staging-target/
/static-gen-target/
/static-client-target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/

/node_modules/

*.sw?
.nrepl-port
.fontcustom-manifest.json
figwheel_server.log
Gemfile.lock

.DS_Store
.sw?
.sass-cache
stylesheets
index.html
